<!DOCTYPE html>
<html>
<head>
    <title>Додати дисципліну</title>
</head>
<body>
 <form action = '/add_disc' method = 'POST' id = "add_disc_form">
	<p> Назва дисципліни <input type = "text" name = "subject" /> </p>
	<p> Кількість годин <input type = "text" name = "hours" /> </p>
	<p> Кількість кредитів <input type = "text" name = "credits" /> </p>
	<p> Викладач <input type = "text" name = "tutor" /> </p>
	
</form>

<button type="submit" form="add_disc_form" name="action" value="add_subject"> OK </button>

</body>
</html>