<!DOCTYPE html>
<html>
<body>
<p> <h2> Record book </h2></p>
 <table border = 1>
	<tr height = '40'> 	<th> Середній бал </th>  <td width = '50' align = 'center'> {{ medium }} </td> <th> Набрано кредитів </th> <td width = '50' align = 'center'> {{ credit}} </td> </tr>
 	<tr height = '25'> 	<td colspan = '4'> </td> </tr>
 
</table>

 <table border = 1>
	<tr> 	<th rowspan='2'> Дисципліна </th> <th rowspan='2'> Семестр </th> <th colspan='2'> Кількість  </th> <th rowspan='2'> Оцінка </th>	<th rowspan='2'> Викладач </th>  <th rowspan='2'> Дата </th></tr>
 	<tr> <th> годин </th> <th> кредитів </th> 	</tr>
 	
 	<tr> 	<td> {{ record_book["discipline"] }} </td> 	<td> {{ record_book["semester"] }} </td>	<td> {{ record_book["hours"] }} </td>	<td> {{ record_book["credits"] }} </td>	<td> {{ record_book["mark"] }} </td>	<td> {{ record_book["tutor"] }} </td> <td> {{ record_book["date"] }} </td> </tr>
 
</table>
</body>
</html>